<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/flight_output.css">
    <title>Document</title>
</head>

<body>
    <%- include('./templates/partials/navbar.ejs')%>


        <h1><span class="blue">
            </span><span class="blue">
            </span> <span class="yellow">FLIGHTS</pan>
        </h1>

        <form action="/airline/<%=results[0].to_route%>/<%=results[0].from_route%>/<%=results[0].arrival_time%>">
            <input type="text" name="airline" id="airline" class="airline">
            <button class="airline-btn" type="submit">apply changes</button>
        </form>




        <table class="container">
            <thead>
                <tr>
                    <th>
                        <h1>Sr no.</h1>
                    </th>
                    <th>
                        <h1>Flight name</h1>
                    </th>
                    <th>
                        <h1>FLIGHT ID</h1>
                    </th>
                    <th>
                        <h1>TIME</h1>
                    </th>
                    <th>
                        <h1>book</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% let c=0 %>


                    <%for(let flight of results){%>

                        <tr>
                            <td data-th="Movie Title">
                                <div class="extra">
                                    <%= ++c %>
                                </div>

                            </td>
                            <td data-th="Genre">
                                <div class="extra">
                                    <%=flight.airline %>
                                </div>

                            </td>
                            <td data-th="Year">
                                <div class="extra">
                                    <%=flight.flight_id %>
                                </div>

                            </td>
                            <td data-th="Gross">
                                <div class="extra">
                                    <%=flight.arrival_time %>
                                </div>

                            </td>
                            <td>
                                <div id="btnd">
                                    <form action="/booking/<%=flight.flight_id%>/<%=flight.arrival_schedule_id%>">
                                        <input type="submit" value="book now" id="button">
                                    </form>

                                </div>


                            </td>

                        </tr>


                        <%}%>


            </tbody>
        </table>






        <script>
            const input = document.querySelector(".airline");
            const btn = document.querySelector(".airline-btn");
            btn.addEventListener("click", function () {
                console.log(input.value)
            })
        </script>


</body>

</html>