<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myaccn.css">
    <title>Document</title>
</head>

<body>
    <%- include('./templates/partials/navbar.ejs')%>


        <section class="profile_container">
            <div class="profile_img_section">
                <img class="profile_img-LG"
                    src="https://cdn.idntimes.com/content-images/community/2020/10/122163576-262420488513552-863075192792965334-n-f95e3dd6d25d3618eb9f1b3b9bcc5796.jpg" />
                <div class="flag_wrapper">
                    <img class="flag"
                        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/flag-south-korea_1f1f0-1f1f7.png"
                        alt="South Korean Flag" />
                </div>
            </div>

            <div class="profile_desc_section">
                <h2>
                    <%=results[0].username.toUpperCase()%>
                </h2>
                <h4>my-flights</h4>
                <p class="description">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">
                                <h3>Sr.no</h3>
                            </th>
                            <th scope="col">
                                <h3>Flight id </h3>
                            </th>
                            <th scope="col">
                                <h3>Flight name</h3>
                            </th>
                            <th scope="col">
                                <h3>Time</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let c=0 %>


                            <%for(let flight of results){%>


                                <tr>
                                    <td data-label="Account">
                                        <div class="extra">
                                            <%= ++c %>
                                        </div>
                                    </td>
                                    <td data-label="Due Date">
                                        <div class="extra">
                                            <%=flight.flight_id %>
                                        </div>
                                    </td>
                                    <td data-label="Amount">
                                        <div class="extra">
                                            <%=flight.airline %>
                                        </div>
                                    </td>
                                    <td data-label="Period">
                                        <div class="extra">
                                            <%=flight.arrival_time %>
                                        </div>
                                    </td>
                                </tr>


                                <%}%>




                    </tbody>
                </table>
                </p>


            </div>

        </section>

        <div class="info">
            <ul>
                <li>
                    <div class="link_img_wrapper">
                        <img class="link_img"
                            src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/round-pushpin_1f4cd.png"
                            alt="">
                    </div>
                    <p>
                        <%=results[0].address%>
                    </p>
                </li>
                <li>
                    <div class="link_img_wrapper">
                        <img class="link_img"
                            src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/speaking-head_1f5e3-fe0f.png"
                            alt="">
                    </div>
                    <p>
                        <%=results[0].country%>
                    </p>
                </li>
                <li>
                    <div class="link_img_wrapper">
                        <img class="link_img"
                            src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/265/globe-with-meridians_1f310.png"
                            alt="">
                    </div>
                    <p>
                        <%=results[0].email%>
                    </p>
                </li>
            </ul>
        </div>
        <div id="button">
            <form action="/new" method="get">
                <button type="submit" id="fd">
                    reset!
                </button>
            </form>

        </div>
</body>

</html>